@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-one:#8261EE;
    --color-two:#FF589E;
    --color-text:#1e1e1e;

    --font:'DM Sans', sans-serif;

}
 :root {
    --primary-color: #fa9e1b;
    --white-color: #fff;
    --violet: #8d4fff;
    --yellow: #fa9e1b;
    --black: #2d2c2c;
    --btn-black: #31124b;
    --bg-header: rgba(54, 19, 84, .6);
    --bg-header-scroll: rgba(54, 19, 84, .85);
    --bg-btn: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    --bg-section: linear-gradient(to right, #fa9e1b, #8d4fff);
    --offer-color: #eda84a;
    --border: linear-gradient(to right, #fa9e1b, #8d4fff);
}
body{
        color: var(--color-text);
        line-height: 1.6;
        font-family: var(--font);
        margin: 0
}