

/* SECTION-ONE */
.container-register {
  position: absolute;
  top: 0px;
  right: 20px;
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.container-register a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.container-register a:hover {
  color: #5bb87c;
}

.section-one {
    background-image: url(../images/woman-1822646_1280.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-left: 1%;
}

.section-one .inner-wrap {
  margin-top:  130px;
    max-width: 40%;
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    padding: 30px;
    animation: fadeInLeft 1s ease-in-out both;
}

.section-one .inner-wrap h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    line-height: 1.4;
}

/* Animation */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* END SECTION-ONE  */


/* SECTION-RESULTRESULT */

.section-result .inner-wrap {
    display: flex;
    flex-direction: column;
}



.section-result .inner-wrap .inner-title h2 {
    display: inline-block;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.section-result .inner-wrap .inner-title h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 6px;
    background-color: #89c389;
}

.section-result .inner-wrap .inner-subTitle p {
    font-size: 60px;
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
}

.section-result .inner-wrap .inner-content {
    display: flex;
    gap: 60px;
}

.section-result .inner-wrap .inner-content .inner-img {
    overflow: hidden;
    width: 530px;
    height: 100%;
}
.overlay-text {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 58, 58, 0.3); 
 
}
.overlay-text h1 {
    font-family: 'Times New Roman', Times, serif;

    font-size: 3.5rem;
    margin-bottom: 15px;
    font-weight: 800;
}
.overlay-text p {
    font-size: 17px;
    margin-bottom: 20px;
}

.inner-img h2{
    font-weight:600;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.inner-info  {
    font-family: 'Times New Roman', Times, serif;
    flex: 1;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}






.section-result .inner-wrap .inner-content .inner-info h1,
.section-result .inner-wrap .inner-content .inner-info h1 {
    font-weight: 900;
    font-size: 50px;
}
.section-result .inner-wrap .inner-content .inner-info h2,
.section-result .inner-wrap .inner-content .inner-info h2 {
    font-weight:600;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7px;
    
}
.section-result .inner-wrap .inner-content .inner-info p{
    color: #383434;
    font-size: 17px;
}
h1{
    margin: 0;
}


/* END SECTION-RESULT */


/* PHONE */
.contact-wrapper {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
  }
  
  .contact-button { 
    width: 60px;
    height: 60px;
    background: #7bcc5b;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  .pulse-ring {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(65, 211, 84, 0.4);
    animation: pulse 1.5s infinite;
    z-index: -1;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.8); opacity: 0; }
  }
  
  .radial-menu {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 5px;
    height: 5px;
  }
  
  .contact-icon {
    position: absolute;
    width: 51px;
    height: 51px;
    background:  rgba(122, 203, 99, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-decoration: none !important;

  }
  .contact-icon:hover i {
    background: linear-gradient(30deg, #6ac56d, #f6f6f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact-icon img,
  .contact-icon i {
    font-size: 20px;
    width: 21px;
    height: 20px;
    object-fit: contain;
    color: #333;
  }
  
  /* Khi menu active */
  .radial-menu.active .contact-icon {
    opacity: 1;
  }
  
  .radial-menu.active .contact-icon:nth-child(1) {
    transform: translate(-78px, 30px); 
  }
  
  .radial-menu.active .contact-icon:nth-child(2) {
    transform: translate(-75px, -30px); 
  }
  
  .radial-menu.active .contact-icon:nth-child(3) {
    transform: translate(-30px, -75px); 
  }
  
  .radial-menu.active .contact-icon:nth-child(4) {
    transform: translate(30px, -78px);
  }
  @keyframes tilt-pause {
    0%   { transform: rotate(0deg); }
    10%  { transform: rotate(18deg); }
    20%  { transform: rotate(-15deg); }
    30%  { transform: rotate(5deg); }
    40%  { transform: rotate(-9deg); }
    50%  { transform: rotate(0deg); }
    100% { transform: rotate(0deg); } /* giữ nguyên trong 1s còn lại */
  }
  
  .contact-icon img {
    animation: tilt-pause 1.2s ease-in-out infinite;
  }
  
  
/* END PHONEPHONE */


/* FORM */

.form{
  display: none;
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px);
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 16%;
  left: 25%;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.form span {
  font-size: 12px;
}

.form a {
  color:#000000;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0 10px;
  font-weight: 500;

}
.form .social-icons .icon:hover{
  background: -webkit-linear-gradient(-30deg, #c6dfc8, #54cb39);

}
.form span{
  color: #000;
  font-size: 13px;
  font-weight: 500;
}
.form button {
  background: rgba(255, 255, 255, 0.1); 
  color: #ffffff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 5px 8px 23px rgb(25, 24, 24);
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.form button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  position: relative;
  z-index: 99;
}

.form input {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: #000;
}
input::placeholder {
  color: #000000;      
}


.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in,
.sign-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form:not(.active) .sign-in {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 5;
}

.form.active .sign-up {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(100%);
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
      opacity: 0;
      z-index: 1;
  }
  50%, 100% {
      opacity: 1;
      z-index: 5;
  }
}

.close-form {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.8rem;
  color: #333;
  cursor: pointer;
  z-index: 9999;
}


.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.form.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background: linear-gradient(0deg, #78c581, #067722);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.form.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle-panel p{
  font-size: 13px;

}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.form.active .toggle-right {
  transform: translateX(200%);
}

/* Eye icons setup */
#signup-eye-slash-icon,
#signin-eye-slash-icon {
  display: none;
}

i.fa-eye, i.fa-eye-slash {
  position: absolute;
  font-size: 13px;
  right: 50px;
  top: 61.5%;
  transform: translateY(-50%);
  cursor: pointer;
}

i.regit {
  position: absolute;
  font-size: 13px;
  right: 50px;
  top: 72%;
  transform: translateY(-50%);
  cursor: pointer;
}
